<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :meal_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :calories %>
    <%= form.number_field :calories, id: :meal_calories, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :protein %>
    <%= form.number_field :protein, id: :meal_protein, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :carbs %>
    <%= form.number_field :carbs, id: :meal_carbs, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fat %>
    <%= form.number_field :fat, id: :meal_fat, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :meal_description, class: "form-control" %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <br>
<% end %>
