<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Name:</strong>
  <%= @meal.name %>
</p>


<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Calories:</strong>
  <%= @meal.calories %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Protein:</strong>
  <%= @meal.protein %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Carbs:</strong>
  <%= @meal.carbs %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Fat:</strong>
  <%= @meal.fat %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Description:</strong>
  <%= @meal.description %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal), class: "btn btn-primary", role: "button" %>
<%= link_to 'Back', meals_path, class: "btn btn-primary", role: "button" %>
